@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400&display=swap");

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html {
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

p {
  font-size: 20px;
}

button {
  background-color: transparent;
  border: 2px solid steelblue;
  color: steelblue;
  font-size: 1rem;
  font-family: inherit;
  max-width: 100px;
  padding: 0.5rem 0.5rem;
}

button:hover {
  cursor: pointer;
  color: white;
  background-color: steelblue;
}

body {
  background-color: #44424d;
}

#root {
  margin: 0 auto;
  overflow: auto;
  text-align: center;
  background-color: #44424d;
  color: #b1cfea;
}

.container {
  margin: 0 auto;
  max-width: 600px;
  overflow: auto;
  text-align: center;
}

select {
  border-radius: 0px;
}

.custominput {
  margin: 0 auto;
  max-width: 600px;
  overflow: auto;
  text-align: right;
  padding: 2px;
  /*padding-right: 156px;*/
}

.custominput select {
  width: 50%;
  max-width: 50%;
}

.custominput input {
  width: 50%;
  max-width: 50%;
}

.input {
  margin: 0 auto;
  max-width: 600px;
  overflow: auto;
  text-align: right;
}

.input select {
  width: 50%;
}

.form {
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  gap: 1rem;
}

.form input {
  display: block;
  width: 100%;
  height: 25px;
  margin: 5px;
  padding: 3px 7px;
  font-size: 17px;
}

#input form {
  display: none;
  text-align: right;
  max-width: 400px;
}

.WARNING {
  color: red;
}

button.WARNING {
  text-decoration: line-through;
  border-color: red;
}

button:hover.WARNING {
  cursor: not-allowed;
  color: red;
  background-color: transparent;
}